<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="reader_hostname" value="SpeedwayR-10-27-52"/>
    <add key="reader_port" value="5804"/>
  </appSettings>
</configuration>